<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Find the food you want to eat, make it a favorite place to enjoy food." />
    <meta name="theme-color" content="#84b400" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">To Content</a>
    <header class="app-bar">
      <div class="app-bar_menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar_logo">
        <h1>Restaurant Catalogue</h1>
      </div>
      <nav id="drawer" class="app-bar_nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://github.com/ndaday">About Us</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <div class="hero_inner">
        <h1 class="hero_title">what do you want to eat today?</h1>
        <p class="hero_tagline">feel all the flavors from all over the country</p>
      </div>
    </div>

    <main id="mainContent"></main>
    <footer>
      <p>Copyright &copy; 2021 - Restaurant Apps</p>
    </footer>
  </body>
</html>
